@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700';
@import 'https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.1/nv.d3.min.css';
@import 'https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css';

/* DataTable */
@import 'datatables.net-dt';
@import 'datatables.net-responsive-dt';
@import 'datatables.net-select-dt';
@import 'datatables.net-keytable-dt';

/* Fix Caret  */
body .dropdown-toggle::after {
    content: none;
}

/* Key Value Pair */
.key-value-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.key-value-pair {
    display: flex;
    align-items: baseline;
}

.key-value-pair .key {
    flex: 0 0 40%;
    color: #6c757d;
    font-size: 0.875rem;
    font-weight: 500;
}
.key-value-pair .value {
    flex: 1;
    color: #212529;
    font-size: 0.875rem;
}
